<footer class="text-center text-lg-start bg-light text-muted" style="margin-top : 4%">
	
	<section class="">
	  <div class="container text-center text-md-start mt-5">
		
		<div class="row m-5">
		
		  <div class="col-md-4 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-5" style="margin-top: 10%;">
			<div >
				<p>Are You Looking For Quotataion...</p>
				<p>Then Come Here and Inquiry</p>
				<p><a href="quotation/askQuotation">Click Here</a></p>
			</div>
			<div >
				<p>Know Your Quotataion...</p>
				<p><a href="quotation/GetQuotation">Click Here</a></p>
			</div>
		  </div>
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 m-5">
			
			<h6 class="text-uppercase fw-bold mb-4 m-3">
			  Contact
			</h6>
			<p class="m-3"><i class="fas fa-home me-3"></i> M.K. Gandhi Strret, Navsari, Gujarat.</p>
			<p class="m-3">
			  <i class="fas fa-envelope me-3"></i>
			  info@jerryenterprise.com
			</p class="m-3">
			<p class="m-3"><i class="fas fa-phone me-3"></i> + 0123456788</p>
			<p class="m-3"><i class="fas fa-print me-3"></i> + 0123456789</p>
		  </div>
		  
		</div>
		
	  </div>
	</section>
	
	<div class="text-center p-4" style="background-color: rgba(6, 16, 34, 1);">
	  © 2022 Copyright: JERRY ENTERPRISE
	</div>
	
  </footer>	