<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-2">
        <div class="software_name">
              <div class="media d-flex align-items-center">
                <div class="media-body">
                  <h4 class="m-0"><a href="/login" style="list-style: none; color: white;">Jerry Enterprise</a></h4>
                </div>
              </div>
        </div>
      </div>
    </nav>
</div>